.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 340px;
  width: 100%;
  margin-bottom: 40px;

  text-align: center;
}

.icon-container {
}
.icon-size {
  font-size: 30px;
  padding-right: 220px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1em;
  color: #666;
}
