.carousel {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  padding-top: 30px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 1s ease;
}

.carousel-item img {
  width: 100%;
  display: block;
}
